.outer-container {
  position: relative;
  height: 100%;
}

.date-input-field {
  height: 36px;
  width: 100%;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.calendar-icon {
  fill: #8e8e8e;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 3px;
  right: 5px;
}

.calendar-icon:hover {
  fill: #494949;
}

.calendar-container {
  background-color: #fff;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 0fr;
  position: fixed;
  transition: grid-template-rows 0.2s, grid-template-columns 0.2s,
    min-width 0.2s;
  .calendar {
    padding: 0;
  }
}

.calendar-container.open {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  min-width: 290px;
  .calendar {
    padding: 0px 10px 10px 10px;
  }
}

.calendar {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  overflow: hidden;
}

/* gap: 5px 10px; */

.week-day-conatainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px 10px;
}

.days-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px 10px;
}

.empty-day {
  border: none;
}

.week-header {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  user-select: none;
}

.week-day,
.week-end,
.current-day,
.selected-date {
  border: 1px solid #7b7b7b;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  color: #494949;
  font-size: 14px;
  height: 30px;
  user-select: none;
}

.selected-date,
.picked-year,
.picked-month {
  background-color: #006bbd;
  color: #fff;
  border-color: #006bbd;
  transition: all 0.2s;
}

.current-day {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

.selected-month,
.selected-year {
  user-select: none;
  padding: 3px 10px;
}

.week-day:hover,
.selected-month:hover,
.selected-year:hover,
.year:hover,
.month:hover {
  background-color: #d3d3d3;
}

.week-day:active,
.selected-month:active,
.selected-year:active,
.year:active {
  background-color: #adadad;
}

.picked-year:hover,
.picked-month:hover {
  background-color: #014375;
  color: #fff;
}

/* .week-end {
  border-color: #c20101;
  color: #c20101;
} */

.disabled-day {
  color: #b3b3bb;
  border-color: #c8c8c8;
  cursor: not-allowed;
  pointer-events: none;
}

.picker {
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: 5px 5px 0px 5px;
  align-items: center;
}

.month-changer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.selected-year,
.selected-month {
  cursor: pointer;
  padding: 0px 5px;
  border-radius: 3px;
}

.icon-conatainer {
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-conatainer svg {
  height: 16px;
  width: 14px;
  fill: #8a8a8a;
}

.diabled-icon {
  background: none;
  svg {
    fill: #c5c5c5;
  }
}

.icon-conatainer:hover {
  background-color: #d3d3d3;
  svg {
    fill: #494949;
  }
}

.diabled-icon:hover {
  background-color: #ececec;
  svg {
    fill: #b8b8b8;
  }
}

.icon-conatainer:active {
  svg {
    fill: #ebebeb;
  }
}

.diabled-icon:active {
  svg {
    fill: #b8b8b8;
  }
}

.years-container,
.months-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-height: 250px;
  overflow: hidden auto;
  /* border: 1px solid #7b7b7b; */
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}

.months-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.year,
.month {
  padding: 2px 10px;
  border: 1px solid #7b7b7b;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-size: 14px;
  border-radius: 20px;
}

.month {
  padding: 5px 10px;
}

.years-view {
  padding: 0px;
}
