.app-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.explorer-container {
  width: 320px;
  height: 100%;
  border-right: 1px solid #333;
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.1s linear;
}

.explorer-container.expanded {
  grid-template-rows: auto 1fr;
}

.parent-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-family: "Lato";
  height: 20px;
  border: 1px solid #333;
  padding: 15px 10px;
  gap: 5px;
  cursor: pointer;
  align-content: center;
}

.parent-folder-name {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expand-icon {
  transition: rotate 0.1s linear;
  transform: translate(0px, 2px);
}

.expand-icon.expanded {
  rotate: 90deg;
}

.expand-icon svg {
  height: 14px;
  width: 14px;
  fill: #fff;
}

.icons-container {
  height: 100%;
  display: flex;
  gap: 3px;
  align-items: center;
}

.icons-container svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}

.icons-container svg:hover {
  fill: #f0f0f0;
  background-color: #393939;
  border-radius: 3px;
}

.folder-icon svg,
.file-icon svg {
  fill: #f0f0f0;
}

.folder-icon,
.file-icon {
  transform: translate(0px, 2px);
}

.files-and-folders {
  padding: 0px 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.folder,
.file {
  display: grid;
  grid-template-columns: 15px 20px 1fr;
  align-content: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.folder {
  padding: 2px 5px 0px 5px;
}

.file {
  grid-template-columns: 15px 20px 1fr;
}

.folder:hover,
.file:hover {
  background-color: #393939;
  border-radius: 3px;
}

.folder.selected,
.file.selected {
  background-color: #0e6ff6;
}

.name-input-field {
  outline: none;
  border-color: #0e6ff6;
  border-radius: 3px;
  background-color: #393939;
  color: #fff;
}

.name-input-field.duplicate {
  border-color: #cb1805;
}

.nested-folder {
  display: grid;
  grid-template-rows: 0fr;
}

.nested-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nested-folder.expanded {
  grid-template-rows: 1fr;
  width: max-content;
}

.folder-name,
.file-name {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.folder-name {
  padding-top: 1px;
}

.new-field-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-content: center;
  gap: 2px;
  justify-content: center;
}

.dupliacte-info {
  position: fixed;
  display: none;
  background-color: rgb(123, 13, 1);
  color: #f0f0f0;
  padding: 2px 5px;
  font-size: 12px;
  border: 1px solid #de1802;
  letter-spacing: 0.3px;
}

.dupliacte-info.show {
  display: block;
}
