/* .container {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
} */

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 1fr;
  transition: grid-template-columns 0.3s ease-in-out;
}

.app-bar {
  background-color: antiquewhite;
  grid-column: 1 / span 2;
}

.side-bar {
  background-color: aquamarine;
}

.main-content {
  background-color: chocolate;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
}

@media (max-width: 600px) {
  .App {
    grid-template-columns: 0px 1fr;
    grid-template-rows: 40px 1fr;
  }
}
